<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-building"></i> Início
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            <i class="fa-solid fa-table"></i> Início
          </a>
        </li>
      </ul>

      <!-- Dropdown do usuário -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-circle-user"></i> {{ request.session.nome }} / {{ request.session.matricula }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                class="dropdown-item small"
                href="{% url 'logout' %}"
                onclick="return confirm('Deseja sair da aplicação?')"
              >
                <i class="fa-solid fa-right-from-bracket"></i> Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
