{% extends 'base.html' %}
{% block conteudo %}
<div class="row justify-content-center">
  <div class="col-lg-12">
    <!-- Abas de navegação -->
    <ul class="nav nav-tabs" id="automationTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="seeu-tab" data-bs-toggle="tab" data-bs-target="#seeu" type="button"
          role="tab" aria-controls="seeu" aria-selected="true">SEEU</button>
      </li>
    </ul>

    <!-- Conteúdo das abas -->
    <div class="tab-content" id="automationTabsContent">
      <!-- Conteúdo da aba SEEU -->
      <div class="tab-pane fade show active" id="seeu" role="tabpanel" aria-labelledby="seeu-tab">
        <div class="row justify-content-center my-4">
          <div class="col-12 text-center">
            <h3 class="mb-4 text-secondary">Selecione uma automação</h3>
            <p class="text-muted mb-5">Clique em um dos botões abaixo para iniciar o processo de automação desejado.
            </p>

            <div class="d-flex flex-wrap justify-content-center">
              <div class="mb-4">
                <button automatizacao data-url="{% url 'automacoes:automacao_teste' %}" data-mensagem="#mensagem"
                    class="automation-button btn-primary-circle pulse-primary">
                    <i class="fa-solid fa-file-lines"></i>
                </button>
                <div id="mensagem" class="alert visually-hidden" role="alert"></div>
              </div>

              <!-- Botão de automação 2 -->
              <div class="mb-4">
                <button automatizacao data-url="{% url 'automacoes:automacao_teste' %}" data-mensagem="#mensagem2"
                    class="automation-button btn-primary-circle pulse-primary">
                  <i class="fa-solid fa-chart-column"></i>
                </button>
                <div id="mensagem2" class="alert visually-hidden" role="alert"></div>
              </div>

              <!-- Botão de automação 3 -->
              <div class="mb-4">
                <button automatizacao data-url="{% url 'automacoes:automacao_teste' %}" data-mensagem="#mensagem3"
                    class="automation-button btn-primary-circle pulse-primary">
                  <i class="fa-solid fa-file-pdf"></i>
                </button>
                <div id="mensagem3" class="alert visually-hidden" role="alert"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock conteudo %}